@import "./fontfaces/lato.scss";
@import "./fontfaces/dana.scss";

html {
  font: 16px/25px "Lato", "Dana";
  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  * {
    background: none;
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    color: inherit;
    flex-wrap: wrap;
    font-family: "Lato", "Dana";
  }

  .container {
    width: 1300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
  }
}
